.canvas-tip {
    position: absolute;
    left: 1418px;
    top: 825px;
    color: white;
}

#container {
    background-image: url(../image/back.png);
    width: 1920px;
    height: 1080px;
    position: absolute;
    background-color: blue;
}

#main {
    position: absolute;
    /* style="width: 400px;height:460px;" */
    /* height: 460px;
    width: 400px; */
    left: 1390px;
    top: 530px;
}