.position {
    position: absolute;
}

.content-point-1 {
    left: 560px;
    top: 300px;
}

.content-point-2 {
    left: 510px;
    top: 300px;
}

.content-point-3 {
    left: 540px;
    top: 300px;
}

.content-point-4 {
    left: 530px;
    top: 300px;
}

.content-point-5 {
    left: 520px;
    top: 300px;
}

.content-point-6 {
    left: 500px;
    top: 300px;
}

.content-point-7 {
    left: 560px;
    top: 320px;
}

.content-point-8 {
    left: 560px;
    top: 290px;
}

.content-point-9 {
    left: 560px;
    top: 280px;
}

.content-point-10 {
    left: 560px;
    top: 270px;
}

.content-point-11 {
    left: 540px;
    top: 320px;
}

.content-point-12 {
    left: 550px;
    top: 320px;
}

.content-point-13 {
    left: 550px;
    top: 330px;
}

.content-point-14 {
    left: 560px;
    top: 310px;
}

.content-point-15 {
    left: 550px;
    top: 290px;
}

.content-point-16 {
    left: 550px;
    top: 305px;
}

.content-point-17 {
    left: 550px;
    top: 307px;
}

.content-point-18 {
    left: 550px;
    top: 312px;
}

.content-point-19 {
    left: 540px;
    top: 305px;
}

.content-point-20 {
    left: 540px;
    top: 312px;
}


.content-point-21 {
    left: 740px;
    top: 320px;
}

.content-point-22 {
    left: 730px;
    top: 320px;
}

.content-point-23 {
    left: 720px;
    top: 320px;
}

.content-point-24 {
    left: 710px;
    top: 320px;
}

.content-point-25 {
    left: 700px;
    top: 320px;
}

.content-point-26 {
    left: 705px;
    top: 320px;
}

.content-point-27 {
    left: 690px;
    top: 320px;
}

.content-point-28 {
    left: 695px;
    top: 320px;
}

.content-point-29 {
    left: 740px;
    top: 310px;
}

.content-point-30 {
    left: 740px;
    top: 300px;
}


.content-point-31 {
    left: 750px;
    top: 300px;
}

.content-point-32 {
    left: 750px;
    top: 320px;
}

.content-point-33 {
    left: 750px;
    top: 310px;
}

.content-point-34 {
    left: 760px;
    top: 310px;
}

.content-point-35 {
    left: 760px;
    top: 315px;
}

.content-point-36 {
    left: 760px;
    top: 320px;
}

.content-point-37 {
    left: 660px;
    top: 320px;
}

.content-point-38 {
    left: 660px;
    top: 310px;
}

.content-point-39 {
    left: 660px;
    top: 320px;
}

.content-point-40 {
    left: 660px;
    top: 380px;
}



.content-point-41 {
    left: 350px;
    top: 600px;
}

.content-point-42 {
    left: 350px;
    top: 605px;
}

.content-point-43 {
    left: 350px;
    top: 610px;
}

.content-point-44 {
    left: 360px;
    top: 610px;
}

.content-point-45 {
    left: 360px;
    top: 600px;
}

.content-point-46 {
    left: 1070px;
    top: 300px;
}

.content-point-47 {
    left: 1050px;
    top: 300px;
}

.content-point-48 {
    left: 1060px;
    top: 300px;
}

.content-point-49 {
    left: 1070px;
    top: 305px;
}

.content-point-50 {
    left: 1070px;
    top: 310px;
}